.activeBtn {
  background-color: tomato;
  color: white;
}

.colorBtn {
  background-color: #138a92;
  color: white;
}

.colorBtnText {
  color: #138a92;
}

/* handshake: when click "Adopt" */
.icon {
  font-size: 50px; /* Adjust size as needed */
  color: #138a92;
}
