.activeBtn {
  background-color: tomato;
  color: white;
}

.colorBtn {
  background-color: #138a92;
  color: white;
}

.colorBtnText {
  color: #138a92;
}

/* handshake: when click "Adopt" */
.icon {
  font-size: 50px; /* Adjust size as needed */
  color: #138a92;
}

.footerIcon {
  font-size: 30px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #333;
}

.hidden {
  display: none;
}
